<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignIn</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body id="bdy">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
        
          <li class="nav-item">
            <a class="nav-link" href="/authors">Author</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/add">Add Books</a>
            </li>
        </ul>
    </nav>
    
    <div class="container mt-5">
        <div class="row justify-content-md-center" >
            <div class="col col-12 col-md-4"></div>
            <div class="col col-12 col-md-4 border border-secondary rounded p-5" id="form">
                <form>
                    <div class="form-group">
                        <center><h3>SignIn</h3></center>
                        <label>Username</label>
                        <input type="text" class="form-control" id="" name="uname" aria-describedby="usernameHelp" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" id="" name="upass" placeholder="Password">
                    </div>
                   <center> <button type="submit" class="btn btn-primary">Login</button></center>
                   <p><a href="#">New User?</a><a href="/signup" style="float:right;">SignUp</a></p>
                </form>
            </div>
            <div class="col col-12 col-md-4"></div>
        </div>
    </div>

</body>
</html>